@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeInBlur {
    0% {
        transform: translateY(-80px);
        filter: blur(3px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes lineheightBlur {
    0% {
        line-height: 400px;
        filter: blur(3px);
        opacity: 0;
    }

    100% {
        line-height: 100px;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes updown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes fadeRightBlur {
    from {
        opacity: 0;
        filter: blur(3px);
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
}

@keyframes fadeLeftBlur {
    from {
        opacity: 0;
        filter: blur(3px);
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
}

@keyframes IDPlogo {
    0% {
        transform: translateY(-80px);
        filter: blur(3px);
        opacity: 0;
        transform: scale(1.8);
        animation-timing-function: ease; 
    }
    27% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
        transform: scale(1.4);
        animation-timing-function: ease;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes opacity {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes items2 {
    from {
        transform: translateX(200px)
                    translateY(100px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    translateY(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items3 {
    from {
        transform: translateY(200px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateY(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items4 {
    from {
        transform: translateX(200px)
                    translateY(-100px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    translateY(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items5 {
    from {
        transform: translateX(-200px)
                    translateY(150px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    translateY(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items5_mobile {
    from {
        transform: translateX(-400px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items6 {
    from {
        transform: translateX(-200px)
                    translateY(-100px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    translateY(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes items6_mobile {
    from {
        transform: translateX(400px)
                    scale(0);
        opacity: 0;
        filter: blur(8px);
    }
    to {
        transform: translateX(0px)
                    scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
}

body {
    width: 100vw;
    color: #f0f0f0;
    font-family: "Roboto Condensed", "Noto Sans Thai", "Prompt", sans-serif;
    background-color: rgb(17, 16, 42);
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Orbitron';
}

.content {
    display: none;
}

.content.active {
    display: block;
    margin-top: 65px;
}

#idp-container {
    background: rgba(5, 27, 84, 1);
}

.idp-content {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(16px);
    background-color: #01276ee0;
    box-shadow: inset 0 0 32px 0 #0a4297b4;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

nav.active {
    background-color: #621481e7;
    box-shadow: inset 0 0 32px 0 #8e3fd8b4;
}

.burger-nav {
    position: relative;
    height: 50%;
    width: 38px;
    cursor: pointer;
    animation: slideDown 1s ease-in-out;
    transition: all 0.3s ease;
}

.burger-nav:hover {
    transform: scale(1.05);
}

.line {
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 7px 0;
    border-radius: 2px;
}

.logo {
    margin-left: 56px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #01276e;
    box-shadow: inset 0 0 32px 0 #0a4297;
    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 90;
    transition: all 0.3s ease-out;
}

nav.active .nav-list {
    background-color: #621481;
    box-shadow: inset 0 0 32px 0 #4e1664;
}

@media (hover: hover) and (pointer: fine) {
    .navigator:hover .nav-list {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

@media (pointer: coarse) and (hover: none) {
    .nav-list {
        transform: translateY(-30px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .nav-list.show {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

}

.nav-list a {
    width: 20%;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 18px;
    text-align: center;
    border-right: 1px solid rgb(53, 74, 124);
    transition: background-color 0.3s ease-in-out;
}

nav.active .nav-list a{
    border-right: 1px solid #832ca5;
}

.nav-list a:hover {
    background-color: rgb(27, 57, 133);
}

nav.active .nav-list a:hover {
    background-color: #642d7a;
}


.logo {
    height: 100%;
    animation: slideDown 1s ease-in-out;
}

.idp-itp-switch {
    width: 100px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow-x: hidden;
    animation: slideDown 1.5s ease-in-out;
}

#idp, #itp {
    width: auto;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    z-index: 10;
    color: black;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

#highlightswitch {
    width: 50px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(9, 39, 117);
    color: #f0f0f0;
    position: absolute;
    left: 2px;
    transition: all 0.3s ease-in-out;
}

#highlightswitch.active {
    left: 0;
    right: 2px;
}

.idp-itp-button {
    background: linear-gradient(0deg, #015cc4, #3c73ea);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #0476f8;
    border: 3px solid #015cc4;
    color: #f0f0f0;
    font-size: 1.3rem;
    padding: 12px;
    margin-top: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    animation: fadeInBlur 2s ease-in-out;
}

.idp-itp-button:hover {
    background: linear-gradient(0deg,#a21bf0, #d549ff);
    border: 3px solid #a21bf0;
    box-shadow: 0 0 20px #9b1bf0;
}



#highlightswitch.active {
   transform: translate(46px);
   background-color: #4e3dc0;
}

#itp.active, #idp.active {
    color: white !important;
}

.slider-container {
    display: flex;
    position: relative;
    height: calc(100% - 65px);
    width: 100%;
    background-color: rgb(244, 247, 255);
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slider img {
    width: 100vw;
    height: calc(100vh - 65px);
    object-fit: cover;
    filter: brightness(0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slider-container header {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fffdfd;
    z-index: 10;
}

.slider-container header h1 {
    font-size: 12rem;
    font-family: 'Orbitron';
    animation: fadeInBlur 1.8s ease-in-out;
}

.slider-container header p {
    font-size: 2rem;
    animation: opacity 1.6s ease-in-out;
}

.slider-container {
    height: 100%;
    color: black;
}

.announcement-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 600px;
    background: linear-gradient(0deg, rgba(5, 27, 84, 1), rgb(16, 50, 136) );
}

/* Container styles */
.scrolling-text-container {
    background-color: rgba(255, 227, 202, 1);
    overflow: hidden;
    margin-bottom: 80px;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 600;
    color: #00244d;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
    align-items: center;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}


.gridBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 75%;
    width: clamp(800px, 1080px, 1440px);
}

.gridBox.animate.scroll {
    animation: fadeInBlur 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

a {
    text-decoration: none;
}

.context {
    background: #0050ac1f;
    backdrop-filter: blur(8px);
    border: 2px solid #015fca;
    border-radius: 15px;
    color: white;
    padding: 30px 25px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.context:hover {
    transform: scale(1.08);
    background: #ac771531;
    border: 2px solid #ffa928;
    z-index: 10;
}

.context img {
    border-radius: 5px;
    width: 100%;
}

.context h3 {
    font-size: 1.7rem;
}

.showButton {
    background: linear-gradient(0deg, #0476f8, #4276e6);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #0476f8;
    border: 3px solid #0476f8;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px 16px;
    margin-top: 40px;
    border-radius: 36px;
    transition: all 0.2s ease-out;
}

.showButton:hover {
    background: linear-gradient(0deg,#f0ac1b, #ffc649);
    border: 3px solid #fcac00;
    box-shadow: 0 0 20px #f0ac1b;
}

.idp-animation.content.active {
    overflow-x: visible;
    margin-top: 0;
}

.idp-animation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 400vh;
    width: 100%;
    max-width: 1920px;
    max-height: 3240px;
    overflow-x: visible;
    padding-bottom: 400px;
    font-family: 'Orbitron';
}

.idp-text.one {
    position: sticky;
    margin: 0 0 400px 13%;
    top: 20%;
    width: fit-content;
}

.idp-text.two {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-self: end;
    top: 70%;
    margin: 400px 13% 100px 0px;
    width: fit-content;
}

.idp-text.one h1 {
    font-size: 4.5rem;
    width: fit-content;
}

.idp-text.two h1 {
    font-size: 5rem;
    width: fit-content;
}

.idp-animation h1 span {
    color: red;
}

.idp-text.one.animate.scroll {
    animation: lineheightBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
}

.idp-text.two.animate.scroll {
    animation: lineheightBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
}

.circle1.animate.scroll, .circle2.animate.scroll {
    animation: drawCircle 1s ease-in-out forwards;
}

#curriculum {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

#curriculum h1 {
    font-size: 4rem;
    font-weight: bold;
}

#curriculum .first {
    width: 100%;
    padding: 60px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(5, 27, 84, 1), rgb(20, 26, 42) 70%);
}

#curriculum .bento-grid {
    width: 1200px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    margin-bottom: 200px;
}

.bento-grid h2 {
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 1.1rem;
}

.items1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
    background: linear-gradient(135deg, #002878, #000e27);
    box-shadow: inset 0 0 36px 0 #1573de;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.items1 .IDPlogo {
    width: 45%;
    animation: blink 4s ease infinite;
}

.items1.animate.scroll {
    animation: IDPlogo 5.5s forwards;
}

.items2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    position: relative;
    background: linear-gradient(225deg, #002878, #001943);
    box-shadow: inset 0 0 36px 0 #1573de;
    opacity: 0;
}

.items2 svg {
    width: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: 0.7;
}

.items2 h2 {
    position: absolute;
    bottom: 52px;
    left: 24px;
    margin-right: 80px;
}

.items2 h2 span {
    font-size: 1.6rem;
}

.items2 p {
    opacity: 0.5;
    position: absolute;
    bottom: 20px;
    left: 24px;
    font-size: 0.9rem;
}

.items2 .program {
    width: 80%;
    position: absolute;
    top: 8%;
    left: 10%;
    animation: updown 6s ease-in-out infinite;
}

.items2.chain {
    animation: items2 4s cubic-bezier(0,.1,0,1) forwards;
    animation-delay: 1.5s;
}

.items3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #002878, #001943);
    box-shadow: inset 0 0 36px 0 #1573de;
    opacity: 0;
}

.items3 .allpic{
    width: 110%;
    top: -70%;
    left: -5%;
    position: absolute;
}

.items3 h2 {
    z-index: 10;
    position: absolute;
    bottom: 48px;
    left: 24px;
    font-size: 1.2rem;
}

.items3 p {
    z-index: 10;
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-size: 0.9rem;
    opacity: 0.5;
}

.items3.chain {
    animation: items3 4s cubic-bezier(0,.1,0,1) forwards;
    animation-delay: 1.5s;
}

.items4 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 6;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(180deg, #002878, #001943);
    box-shadow: inset 0 0 36px 0 #1573de;
    overflow: hidden;
    opacity: 0;
}

.items4 .harbin {
    height: 150%;
    object-fit: cover;
    top: 0%;
    left: 0%;
}

.items4 h2 {
    margin: 24px 24px 0 8px;
    text-align: right;
}

.items4 h2 {
    font-size: 1.4rem;
}

.items4 h2 span {
    font-size: 2.2rem;
}

.items4 p {
    font-size: 0.9rem;
    opacity: 0.5;
    text-align: right;
    margin: 0 24px 0 ;
}

.items4.chain {
    animation: items4 4s cubic-bezier(0,.1,0,1) forwards;
    animation-delay: 1.5s;
}

.items5 {
    position: relative;
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
    background: linear-gradient(0deg, #002878, #001943);
    box-shadow: inset 0 0 36px 0 #1573de;
    opacity: 0;
}

.items5 h2 {
    margin: 24px 0 0 24px;
}

.items5 h2 span{
    font-size: 2.4rem;

}

.items5 p {
    font-size: 0.9rem;
    opacity: 0.5;
    margin: 8px 0 8px 24px;
}

.scrolling-img-container {
    height: 50%;
    display: flex;
    margin-top: 4px;
    overflow: hidden;
    z-index: 10;

}

.marquee-img {
    height: 100%;
}

.scrolling-img-container>img {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

.items5 svg {
    width: 120%;
    position: absolute;
    top: 0;
    opacity: 0.7;
    filter: blur(3px);
}

.items5.chain {
    animation: items5 4s cubic-bezier(0,.1,0,1)  forwards;
    animation-delay: 1.5s;
}

.items6 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 4;
    background: linear-gradient(180deg, #002878, #001943);
    box-shadow: inset 0 0 36px 0 #1573de;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.items6 .community {
    width: 140%;
    position: absolute;
    bottom: -12%;
    left: -23.5%;
}

.items6 h2 {
    margin: 24px 0 0 24px;
    font-size: 1.2rem;
}

.items6 h2 span {
    font-size: 2rem;
}

.items6 p {
    font-size: 0.9rem;
    opacity: 0.5;
    margin:  8px 0 0 24px;
    
}

.items6.chain {
    animation: items6 4s cubic-bezier(0,.1,0,1) forwards;
    animation-delay: 1.5s;
}

.items1, .items2, .items3, .items4, .items5, .items6 {
    border-radius: 8px;
}

#curriculum .second {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#141A2A, #051B54 30%);
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1200px;
    gap: 8px;
    margin-bottom: 300px;
}

.course-grid.animate.scroll {
    animation: fadeInBlur 0.8s ease-out;
}

.grade {
    width: auto;
    background: linear-gradient(135deg, #01308f, #00163d);
    box-shadow: inset 0 0 36px #1573de;
    border-radius: 16px;
    padding: 40px 40px 80px;
    transition: all 0.2s ease-out;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.grade.two {
    transform: scale(1.15) translateY(-10px);
    z-index: 10;
}

.grade.two:hover {
    box-shadow: inset 0 0 36px #ffa033;
}

.grade.one:hover, .grade.three:hover {
    box-shadow: inset 0 0 36px #ffa033;
}

.grade svg {
    position: absolute;
    left: -50%;
    bottom: -35%;
    width: 200%;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.3s ease-out;
}

.grade:hover svg {
    transform: translateY(0);
    opacity: 0.7;
}

.grade h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
    transition: all 0.3s ease-out;
}

.grade:hover h2 {
    color: #ffa033;
}

.grade hr {
    width: 100%;
    border: 1px solid #2e4094;
    margin: 20px 0;
    transition: all 0.3s ease-out;
}

.grade:hover hr {
    border: 1px solid #ffaf53a9;
}

.subject {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;;
    text-align: center;
}

.semester {
    margin-left: 24px;
}

.subject-list {
    list-style: none;
    margin-bottom: 12px;
    margin-left: 48px;
    padding: 0;
  }
  
  .subject-list li {
    position: relative;
    padding-left: 30px;
    line-height: 30px;
  }
  
  .subject-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px; /* กำหนดความกว้างของรูป */
    height: 18px; /* กำหนดความสูงของรูป */
    background-image: url('image/check_circle.png');
    background-size: contain; /* หรือระบุเป็น px เช่น background-size: 20px 20px; */
    background-repeat: no-repeat;
    transition: all 0.3s ease-out;
  }

  .grade:hover .subject-list li::before {
    background-image: url('image/check_circle-hover.png');
  }

@media (max-width: 1700px) {
    @keyframes lineheightBlur {
        0% {
            line-height: 400px;
            filter: blur(3px);
            opacity: 0;
        }
    
        100% {
            line-height: 85px;
            filter: blur(0);
            opacity: 1;
        }
    }

    .idp-text.two h1 {
        font-size: 4.3rem;
    }

    .idp-text.one h1 {
        font-size: 4rem;
    }

    .idp-text.two {
        top: 58%;
        margin: 400px 8% 0 0;
        width: fit-content;
    }

}

@media (max-width: 1440px) {
    .idp-text.two {
        margin: 400px 8% 0 8%;
    }

    #curriculum .bento-grid {
        width: 90%;
    }
}

@media (max-width: 1300px) {
    :root {
        font-size: 16px;
    }

    .items4 .harbin {
        height: 130%;
    }

    .idp-text.one {
        top: 20%;
    }

    #curriculum .bento-grid {
        height: 650px;
    }

    .course-grid {
        width: 1024px;
        margin-bottom: 150px;
    }

    .grade svg {
        bottom: -28%;
    }
}

@media (max-width: 1200px) {

    .idp-text.two {
        top: 58%;
    }

    .gridBox {
        width: 80%;
    }

    .gridMore {
        width: 80%;
    }

    #curriculum .bento-grid {
        height: 600px;
    }


}

@media (max-width: 1110px) {
    #curriculum h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    #curriculum .first {
        padding: 40px 40px 0;
    }
   
    #curriculum .bento-grid {
        height: 550px;
    }

    .items2 h2 {
        margin-right: 20px;
    }

    .items3 h2 {
        font-size: 1rem;
    }

    .items4 h2 {
        font-size: 1.2rem;
    }

    .items5 h2 span {
        font-size: 2rem;
    }

    .scrolling-img-container {
        height: 40%;
    }

    .items6 .community {
        top: 37%;
    }

    .course-grid {
        width: 900px;
        margin-bottom: 50px;
    }

    .grade svg {
        bottom: -23%;
    }
}

@media (max-width: 1024px) {
    .gridBox {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }

    .idp-text.one {
        top: 15%;
    }

   
}

@media (max-width: 980px) {
    #curriculum .bento-grid {
        /* เดิมเป็น repeat(7, 1fr) */
        height: 1000px;
        grid-template-rows: repeat(11, 1fr);
      }

    .items1 {
        grid-column: 4 / span 3;
    }

    .items2 {
        grid-column: 1 / span 3;
    }

    .items3 {
        grid-column: 4 / span 3;
    }

    .items4 {
        grid-column: 1 / span 6;
    }
      
    .items5 {
        grid-column: 1 / span 3;
        grid-row: 8 / span 4;
    }

    .items5.chain {
        animation: items5_mobile 3s cubic-bezier(0.1, 0.6, 0.1, 1) forwards;
        animation-delay: 1.5s;
    }

    .scrolling-img-container {
        height: 60%;
    }
      
    .items6 {
        grid-column: 4 / span 3;
        grid-row: 8 / span 4;
    }

    .items6.chain {
        animation: items6_mobile 3s cubic-bezier(0.1, 0.6, 0.1, 1) forwards;
        animation-delay: 1.5s;
    }

    .course-grid {
        width: 95%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 16px;
        gap: 16px;
        padding: 16px 0;
      }
      
    .grade {
        flex: 0 0 60%;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      }

    .grade.two {
        transform: scale(1) translateY(0);
        z-index: 1;
    }

    .grade svg {
        bottom: -55%;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
    
    .nav-list {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-list a {
        width: 100%;
        border-right: none;
        font-size: 1.3rem;
        border-bottom: 1px solid rgb(53, 74, 124);
    }

    .gridBox {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }

    .idp-text.one {
        top: 30%;
    }

    .idp-text.two {
        top: 60%;
        margin: 400px 13% 0 13%;
    }

    .idp-text.one h1 {
        font-size: 3rem;
    }

    .idp-text.two h1 {
        font-size: 2.6rem;
    }

    .idp-text.one.animate.scroll {
        animation: fadeInBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
    }
    
    .idp-text.two.animate.scroll {
        animation: fadeInBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
    }

    #curriculum .bento-grid {
        height: 800px;
    }

    .items4 .harbin {
        height: 130%;
    }

    .grade svg {
        bottom: -48%;
    }

    .grade h2 {
        font-size: 2rem;
    }

    .grade p {
        font-size: 1.4rem;
    }

    .grade ul {
        font-size: 1.2rem;
    }
}

@media (max-width: 600px) {
    .gridBox {
        width: 80%;
    }

    #curriculum .first {
        padding: 20px 20px 0;
    }

    #curriculum .bento-grid {
        height: 750px;
    }

    .items4 .harbin {
        height: 110%;
    }

    .scrolling-img-container {
        height: 50%;
    }

    .grade {
        flex: 0 0 80%;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 14px;
    }

    .context {
        padding: 15px;
    }

    .scrolling-text-container {
        margin-bottom: 20px;
    }

    .gridBox {
        display: flex;
        overflow-x: scroll;
        width: 95%;
        padding: 10% 0;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .context {
        scroll-snap-align: center;
        min-width: 180px;
        height: 100%;
        flex-shrink: 0;
    }

    #curriculum h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    #curriculum .first {
        padding: 40px 0;
    }

    #curriculum .bento-grid {
        height: 700px;
    }

    #curriculum .first p {
        font-size: 0.8rem;
    }

    .items2 h2 {
        font-size: 1rem;
        margin-right: 0;
        bottom: 64px;
    }

    .items2 h2 span {
        font-size: 1.2rem;
    }

    .items3 .allpic {
        top: -50%;
    }

    .items3 h2 {
        font-size: 0.8rem;
        bottom: 32px;
        left: 16px;
    }

    .items3 p {
        left: 16px;
        bottom: 14px;
    }

    .items4 h2 {
        font-size: 1.1rem;
        top: 16px;
        right: 16px;
    }

    .items4 h2 span {
        font-size: 1.8rem;
    }

    .items4 p {
        margin: 0 16px 0 0;
    }

    .items5 h2 {
        font-size: 1rem;
        margin: 8px 0 0 16px;
    }

    .items5 h2 span {
        font-size: 1.8rem;
    }

    .items5 p {
        font-size: 0.8rem;
        margin: 8px 0 8px 16px;
    }

    .items6 .community {
        top: 43%;
    }

    .items6 h2 {
        font-size: 1rem;
        margin: 16px 0 0 16px;
    }

    .items6 h2 span {
        font-size: 1.8rem;
    }

    .items6 p {
        padding: 20px 20px 40px;
        margin: 8px 0 0 16px;
    }

    .grade {
        flex: 0 0 90%;
    }
}

@media (max-width: 400px) {
    :root {
        font-size: 12px;
    }

    .idp-text.one h1 {
        font-size: 2.5rem;
    }

    .idp-text.two h1 {
        font-size: 2.2rem;
    }

    .idp-text.one {
        top: 20%;
    }

    .idp-text.two {
        top: 55%;
        margin: 400px 8% 0 8%;
    }

    #curriculum .bento-grid {
        height: 600px;
        grid-template-rows: repeat(6, 1fr);
      }

    .items1 {
        grid-row: 2 / span 2;
    }

    .items2 {
        grid-row: 1 / span 3;
    }

    .items3 {
        grid-row: 1 / span 1;
    }

    .items4 {
        grid-row: 4 / span 1;
    }

    .items4 .harbin {
        height: 110%;
    }

    .items5, .items6 {
        grid-row: 5 / span 2;
    }

    .scrolling-img-container {
        height: 40%;
    }

    .grade svg {
        bottom: -38%;
    }
}