@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeInBlur {
    0% {
        transform: translateY(35px);
        filter: blur(3px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes lineheightBlur {
    0% {
        line-height: 400px;
        filter: blur(3px);
        opacity: 0;
    }

    100% {
        line-height: 100px;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes drawLine {
    from {
        stroke-dashoffset: 600;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes drawCircle {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    font-size: 18px;
}

body {
    width: 100vw;
    color: #f0f0f0;
    font-family: "Roboto Condensed", "Noto Sans Thai", "Prompt", sans-serif;
    
    overflow-x: hidden;
}

.content {
    display: none;
}

.content.active {
    display: block;
    margin-top: 65px;
}

#idp-container {
    background: rgba(5, 27, 84, 1);
}

.idp-content {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 46, 119);
    box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

nav.active {
    background-color: #3e2ea5;
}

.burger-nav {
    position: relative;
    height: 50%;
    width: 38px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.burger-nav:hover {
    transform: scale(1.05);
}

.line {
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 7px 0;
    border-radius: 2px;
}

.logo {
    margin-left: 56px;
}

.nav-list {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(22, 48, 114);
    box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.089);
    transform: translateY(-30px);
    opacity: 0;
    z-index: 90;
    transition: all 0.3s ease-out;
}

.navigator:hover .nav-list {
    justify-content: space-around;
    transform: translateY(0);
    opacity: 1;
}

.nav-list a {
    width: 20%;
    height: 100%;
    color: white;
    text-decoration: none;
    background-color: rgb(22, 48, 114);
    padding: 18px;
    text-align: center;
    border-right: 1px solid rgb(53, 74, 124);
    transition: background-color 0.3s ease-in-out;
}

nav.active .nav-list a{
    background-color: #3e2ea5;
    border-right:1px solid #5747be;
}

.nav-list a:hover {
    background-color: rgb(27, 57, 133);
}

nav.active .nav-list a:hover {
    background-color: #4e3dc0;
}


.logo {
    height: 100%;
}

.idp-itp-switch {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 20px;
    overflow-x: hidden;
}

.idp-itp-button {
    background: linear-gradient(0deg, #015cc4, #2a5ecf);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #0476f8;
    border: 3px solid #0476f8;
    color: #f0f0f0;
    font-size: 1.3rem;
    padding: 12px;
    margin-top: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.idp-itp-button:hover {
    background: linear-gradient(0deg,#a21bf0, #d549ff);
    border: 3px solid #a94ce7;
    box-shadow: 0 0 20px #9b1bf0;
}

#idp, #itp {
    padding: 8px 15px;
    width: 50px;
    text-align: center;
    z-index: 10;
    color: black;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

#highlightswitch {
    width: 50px;
    height: 90%;
    border-radius: 18px;
    background-color: rgb(9, 39, 117);
    color: #f0f0f0;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translate(46px);
    transition: all 0.3s ease-in-out;
}

#highlightswitch.active {
   transform: translate(0px);
}

#itp.active, #idp.active {
    color: white !important;
}

.slider-container {
    display: flex;
    position: relative;
    height: calc(100% - 70px);
    width: 100% ;
    background-color: rgb(244, 247, 255);
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slider img {
    width: 100vw;
    height: calc(100vh - 70px);
    object-fit: cover;
    filter: brightness(0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slider-container header {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fffdfd;
    z-index: 10;
}

.slider-container header h1 {
    font-size: 12rem;
}

.slider-container header p {
    font-size: 2rem;
}

.slider-container {
    height: 100%;
    color: black;
}

.announcement-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 600px;
    background: linear-gradient(0deg, rgba(5, 27, 84, 1), rgb(16, 50, 136) );
}

/* Container styles */
.scrolling-text-container {
    background-color: rgba(255, 227, 202, 1);
    overflow: hidden;
    margin-bottom: 100px;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 4rem;
    font-weight: 600;
    color: #00244d;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
    align-items: center;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}


.gridBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 75%;
    max-width: 1080px;
    margin: 10px;
}

.gridBox.animate.scroll {
    animation: fadeInBlur 1.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.gridMore {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 75%;
    max-width: 1080px;
    margin: 10px;
}

.gridMore.active {
    display: grid;
}

.context {
    background: #0050ac1f;
    backdrop-filter: blur(8px);
    border: 2px solid #015fca;
    border-radius: 15px;
    padding: 30px 25px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.context:hover {
    transform: scale(1.08);
    background: #d1971833;
    border: 2px solid #fcac00;
    z-index: 10;
}

.context img {
    border-radius: 5px;
    width: 100%;
}

.context h3 {
    font-size: 1.8rem;
}

.content p {
    font-size: 1rem;
}

.showButton {
    background: linear-gradient(0deg, #0476f8, #4276e6);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px #0476f8;
    border: 3px solid #0476f8;
    color: #f0f0f0;
    font-size: 1.3rem;
    padding: 12px;
    margin-top: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.showButton:hover {
    background: linear-gradient(0deg,#f0ac1b, #ffc649);
    border: 3px solid #fcac00;
    box-shadow: 0 0 20px #f0ac1b;
}

.showMore {
    display: none;
}

.showMore.active {
    display: flex;
}

.showLess {
    display: none;
}

.showLess.active {
    display: flex;
}

.idp-animation.content.active {
    overflow-x: visible;
    margin-top: 0;
}

.idp-animation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    height: 400vh;
    width: 100%;
    max-width: 1920px;
    max-height: 3240px;
    overflow-x: visible;
    padding-bottom: 400px;
}

.idp-text.one {
    position: sticky;
    margin: 0 0 400px 13%;
    top: 20%;
    width: fit-content;
}

.idp-text.two {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-self: end;
    top: 60%;
    margin: 400px 13% 100px 0px;
    width: fit-content;
}

.idp-text.one h1 {
    font-size: 4.5rem;
    width: fit-content;
}

.idp-text.two h1 {
    font-size: 5rem;
    width: fit-content;
}

.idp-animation h1 span {
    color: red;
}

.idp-text.one.animate.scroll {
    animation: lineheightBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
}

.idp-text.two.animate.scroll {
    animation: lineheightBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
}

svg#line {
    position: sticky;
    display: flex;
    top: 390px;
    margin-left: 19%;
    width: 16%;
    height: 17%;
}

svg#line.animate.scroll {
    animation: fadeInBlur 2s ease-in-out forwards;
}

svg .line.animate.scroll {
    stroke-dasharray: 600;  /* กำหนดความยาวเส้นทั้งหมด */
    stroke-dashoffset: 600; /* ซ่อนเส้นทั้งหมด */
    animation: drawLine 4s cubic-bezier(0.1, 0.5, 0.8, 1) forwards;
}

.circle1.animate.scroll, .circle2.animate.scroll {
    animation: drawCircle 1s ease-in-out forwards;
}

#curriculum {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00244D;
    background-color: #FFE3CA;
    padding: 60px;
}

#curriculum h1 {
    font-size: 4rem;
}

.bento-grid.animate.scroll {
    animation: fadeInBlur 1s ease-in-out;
}

#curriculum .bento-grid {
    width: 80%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: 2fr 1fr ;
    gap: 10px;
    margin: 40px;
}

.bento-grid .items {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

@media (max-width: 1700px) {
    @keyframes lineheightBlur {
        0% {
            line-height: 400px;
            filter: blur(3px);
            opacity: 0;
        }
    
        100% {
            line-height: 85px;
            filter: blur(0);
            opacity: 1;
        }
    }

    .idp-text.two h1 {
        font-size: 4.3rem;
    }

    .idp-text.one h1 {
        font-size: 4rem;
    }

    .idp-text.two {
        top: 58%;
        margin: 400px 8% 0 0;
        width: fit-content;
    }

    svg#line {
        margin-left: 20%;
        top: 320px;
    }
}

@media (max-width: 1440px) {
    .idp-text.two {
        top: 55%;
        margin: 400px 8% 0 8%;
        width: fit-content;
    }

    svg#line {
        margin-left: 16%;
        top: 360px;
    }

    
}

@media (max-width: 1200px) {
    :root {
        font-size: 16px;
    }
    
    svg#line {
       display: none;
    }

    .idp-text.two {
        top: 58%;
    }

    .gridBox {
        width: 80%;
    }

    .gridMore {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .gridBox {
        width: 90%;
    }

    .gridMore {
        width: 90%;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }

    .gridBox {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }

    .gridMore {
        grid-template-columns: repeat(2, 1fr);
        width: 60%;
    }

    .idp-text.one {
        top: 30%;
    }

    .idp-text.two {
        top: 60%;
        margin: 400px 13% 0 13%;
    }

    .idp-text.one h1 {
        font-size: 3rem;
    }

    .idp-text.two h1 {
        font-size: 2.6rem;
    }

    .idp-text.one.animate.scroll {
        animation: fadeInBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
    }
    
    .idp-text.two.animate.scroll {
        animation: fadeInBlur 4.5s cubic-bezier(0.2, 1, 0.5, 1);
    }
}

@media (max-width: 600px) {
    .gridBox {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }

    .gridMore {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}

@media (max-width: 430px) {
    :root {
        font-size: 14px;
    }

    .gridBox {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .gridMore {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .context {
        padding: 15px;
    }
}

